MonitoraWCF/Connected Services/UsuarioService/UsuarioService66.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CompLine.Util.Paginacao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CompLine.Util.Paginacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicescxs.compline.com.br/SecurityService/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PaginacaoControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaginaAtual" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrosPorPagina" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PaginacaoControl" nillable="true" type="tns:PaginacaoControl" />
</xs:schema>