MonitoraWCF/Connected Services/UsuarioService/UsuarioService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CompLine.Core.Security.POCO.Pesquisa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CompLine.Core.Security.POCO.Pesquisa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogAções">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ação" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoSistema" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataAção" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogAções" nillable="true" type="tns:LogAções" />
</xs:schema>